<div class="content">
    <div class="personal-form">
        <div class="input-group-text">
            <label class="main-label" for="first-name">First Name*</label>
            <input id="first-name" type="text" name="firstName" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-group-text">
            <label class="main-label" for="last-name">Last Name*</label>
            <input id="last-name" type="text" name="lastName" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-group-text">
            <label class="main-label" for="email">Email*</label>
            <input id="email" type="email" name="email" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-group-text">
            <label class="main-label" for="phone">Phone Number*</label>
            <input id="phone" type="text" name="phone" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-file-group">
            <label class="custom-file-upload">
                <input type="file" hidden accept="images/*" />
                <img src="./assets/icons/Upload_black_24dp.svg" alt="">
                Upload Resume
            </label>
        </div>
        <div class="input-group-text">
            <label class="main-label" for="portfolio">Enter Portfolio URL (if any)</label>
            <input id="portfolio" type="text" name="portfolio" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-group-checkboxes">
            <label class="main-label" for="preference">Preferred Job Roles*</label>
            <div class="input-group-checkbox" *ngFor="let item of jobRoles">
                <input type="checkbox" [id]="item.name" name="preference" [value]="item.id">
                <label [for]="item.name">{{item.name}}</label>
            </div>
        </div>
        <div class="input-group-text">
            <label class="main-label" for="refEmpName">
                If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You
            </label>
            <input id="refEmpName" type="text" name="refEmpName" (input)="onChangesText($event.target)" />
        </div>
        <div class="input-group-checkbox">
            <input type="checkbox" id="emailSub" name="emailSub" value="IsEmailSub">
            <label for="emailSub">Send me job related updates via mail</label>
        </div>
    </div>
    <div class="profile-picture-input">
        <div class="input-picture-group">
            <img src="./assets/images/user-profile.png" alt="">
            <label class="custom-picture-upload">
                <input type="file" hidden accept="images/*" (change)="onFileUpload($event.target)" />
                Upload Display Picture
            </label>
            <p>Max Image size: 5 MB</p>
        </div>
    </div>
</div>