<div class="content">
    <div class="content-header">
        <h2 class="content-title">Educational Qualifications</h2>
    </div>
    <div class="content-body">
        <div class="input-group-text content-body-element">
            <label class="main-label" for="aggregatePercentage">Aggregate Percentage*</label>
            <input id="aggregatePercentage" type="text" />
        </div>
        <div class="input-group-dropdown content-body-element">
            <label class="main-label" for="yearOfPassing">Year of Passing*</label>
            <select id="yearOfPassing" name="yearOfPassing">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </div>
        <div class="content-body-group">
            <div class="input-group-dropdown">
                <label class="main-label" for="qualifications">Qualification*</label>
                <select id="qualifications" name="qualifications">
                    <option value="1">Bachelor in Technology (B.Tech)</option>
                    <option value="2">Bachelor in Arts (B.A)</option>
                    <option value="3">Bachelor in Commerce (B.Com)</option>
                </select>
            </div>
            <div class="input-group-dropdown">
                <label class="main-label" for="streams">Stream*</label>
                <select id="streams" name="streams">
                    <option value="1">Information Technology</option>
                    <option value="2">Computer Engineering</option>
                    <option value="3">Computer Science and Engineering</option>
                </select>
            </div>
            <div class="input-group-dropdown">
                <label class="main-label" for="colleges">College*</label>
                <select id="colleges" name="colleges">
                    <option value="1">Pune Institute of Technology (PIT)</option>
                    <option value="2">Ahmedabad Institute of Technology (AIT)</option>
                    <option value="3">Mumbai Institute of Technology (MIT)</option>
                </select>
            </div>
            <div class="input-group-text">
                <label class="main-label" for="otherCollege">If others, please enter your college name</label>
                <input id="otherCollege" type="text" />
            </div>
        </div>
        <div class="input-group-text content-body-element">
            <label class="main-label" for="otherCollegeLocation">Where is your college located?*</label>
            <input id="otherCollegeLocation" type="text" />
        </div>
    </div>
</div>