<div class="content">
    <div class="meta-data-container">
        <div class="meta-data">
            <button [routerLink]="['/walk-in-details/success', this.walk_in_id]">Apply</button>
            <h2>{{ walkInApplication.title }}</h2>
            <p>Date & Time :</p>
            <div class="date-location-container">
                <p>{{ walkInApplication.startDate }} to {{ walkInApplication.endDate }}</p>
                <div class="divider"></div>
                <div class="location-container">
                    <img src="./assets/icons/location_on_black_24dp.svg" alt="">
                    <p>{{ walkInApplication.location }}</p>
                </div>
            </div>
            <div class="horizontal-line"></div>
            <p>Job Roles :</p>
            <div class="job-role-container">
                <div *ngFor="let jobRole of walkInApplication.jobRoles"  class="job-role">
                    <span>
                        <img src="./assets/icons/Instructional Designer.svg" alt="">
                    </span>
                    <p>{{ jobRole.jobTitle }}</p>
                </div>
            </div>
        </div>
        <div class="pre-req-accordian">
            <div class="accordian-header">
                <h2>Pre-requisites & Application Process</h2>
                <span>
                    <img src="./assets/icons/expand_less_black_24dp.svg" alt="">
                </span>
            </div>
            <div class="accordian-body">
                <accordian-body-element
                    title="General Instructions"
                    [body]="walkInApplication.preRequisites.generalInstruction"
                ></accordian-body-element>
                <div class="horizontal-line"></div>
                <accordian-body-element
                    title="Instructions for the Exam"
                    [body]="walkInApplication.preRequisites.examInstruction"
                ></accordian-body-element>
                <div class="horizontal-line"></div>
                <accordian-body-element
                    title="Minimum System Requirements"
                    [body]="walkInApplication.preRequisites.minSysReqs"
                ></accordian-body-element>
                <div class="horizontal-line"></div>
                <accordian-body-element
                    title="Process"
                    [body]="walkInApplication.preRequisites.applicationProcess"
                ></accordian-body-element>
            </div>
        </div>
    </div>
    <div class="walk-in-form">
        <h3 class="form-title">Time Slots & Preferences</h3>
        <div class="time-slot-container">
            <label for="time_slot" class="main-label">Select a Time Slot :</label>
            <div class="input-group-radios">
                <div *ngFor="let timeSlot of walkInApplication.timeSlots" class="input-group-radio">
                    <input type="radio" [id]="timeSlot.id" name="time_slot" [value]="timeSlot.id">
                    <label [for]="timeSlot.id">{{ timeSlot.startTime }} to {{ timeSlot.endTime }}</label>
                </div>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="preference-container">
            <label class="main-label" for="preference">Preferred Job Roles*</label>
            <div *ngFor="let jobRole of walkInApplication.jobRoles" class="input-group-checkbox">
                <input type="checkbox" [id]="jobRole.jobRoleId" name="preference" [value]="jobRole.jobRoleId">
                <label [for]="jobRole.jobRoleId">{{ jobRole.jobTitle }}</label>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="resume-upload-container">
            <label class="custom-file-upload">
                <input type="file" hidden accept="images/*" />
                <img src="./assets/icons/Upload_black_24dp.svg" alt="">
                Upload Updated Resume
            </label>
        </div>
    </div>
    <job-role-accordian *ngFor="let jobRole of walkInApplication.jobRoles" [jobRole]="jobRole"></job-role-accordian>
</div>