@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

:host {
    display: flex;
    height: 100%;
}

.content {
    flex: 1;
    background-color: $color-6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}