@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

:host {
    display: flex;
    height: 100%;
}

.content {
    flex: 1;
    background-color: $color-2;
    margin: 20px;
    margin-top: 70px;
    @include dFlex(column, none, none);
    position: relative;
}

h4, p {
    margin: 0;
    padding: 0;
}

.horizontal-line {
    width: auto;
}

.green-tick-container {
    background-color: $color-12;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    top: -50px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75px;
        height: 75px;
        transform: translate(-50%, -50%);
        filter: brightness(0) invert(1);
    }
}

.content-title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    color: $color-4;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 16px;
}

.meta-content {
    padding: 20px;
}

.meta-title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: $color-15;
    margin-bottom: 16px;
}

.meta-body {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.content > button {
    align-self: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 20px;
    background-color: $color-7;
    color: $color-1;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 3px 5px #0000003D;
    cursor: pointer;
}