<div class="content">
    <div class="green-tick-container">
        <img src="./assets/icons/check_black_24dp.svg" alt="">
    </div>
    <h2 class="content-title">Congratulations ! You have successfully applied for the walk-in opportunity</h2>
    <div class="horizontal-line"></div>
    <div class="meta-content">
        <h4 class="meta-title">Date & Time of Walk-In :</h4>
        <div class="meta-body">
            <p>03rd July 2021</p>
            <p>9:00 AM to 11:00 AM</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="meta-content">
        <h4 class="meta-title">Venue of Walk-In :</h4>
        <div class="meta-body">
            <p>Zeus Systems Pvt. Ltd.</p>
            <p>1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg</p>
            <p>Lower Parel (W)</p>
            <p>Mumbai - 400 013</p>
            <p>Phone: +91-22-66600000</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="meta-content">
        <h4 class="meta-title">THINGS TO REMEMBER :</h4>
        <div class="meta-body">
            <p>- Please report 30 MINUTES prior to your reporting time.</p>
            <p>- Download your Hall Ticket from below and carry it with you during your Walk-In.</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <button>Download Hall Ticket</button>
</div>