@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

:host {
    flex: 1;
    width: 100%;
}

p {
    margin: 0;
    font-weight: 600;
}

.content {
    @include dFlex(column, none, none);
}

.content-header {
    @include dFlex(row, space-between, center);
    gap: 20px;
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    h2 {
        margin: 0;
        font: inherit;
    }
    p {
        color: $text-color-4;
        @include dFlex(row, center, none);
        gap: 10px;
        span {
            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
                filter: invert(35%) sepia(61%) saturate(450%) hue-rotate(103deg) brightness(96%) contrast(96%);
            }
        }
    }
}

.content-body {
    @include dFlex(row, flex-start, none);
    gap: 20px;
    padding: 30px;
}

.personal-info-container {
    background-color: $background-color-3;
}

.personal-form {
    @include dFlex(column, none, flex-start);
    gap: 40px;
    width: 50%;
}

.group-text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    gap: 10px;
    p {
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
        font: inherit;
        font-weight: 600;
        color: $text-color-1;
    }
}

.main-label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: $text-color-3;
}

.file-group {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: $text-color-1;
    @include dFlex(row, center, center);
    gap: 10px;

    img {
        border: none;
        object-fit: cover;
    }
}

.group-checkbox {
    display: grid;
    gap: 20px;
}

.checkbox {
    @include dFlex(row, flex-start, center);
    gap: 5px;
    pointer-events: none;

    input {
        height: 18px;   
        width: 18px;
        margin: 0;
        accent-color: $accent-color-2;
    }

    label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: $text-color-1;
    }

}

.profile-picture {
    @include dFlex(row, flex-end, none);
    width: 50%;
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $border-color-2;
    }
}

// ------------------------------------------------------------

.qualification-info-container {
    @include dFlex(column, none, none);
    padding: 0;
}

.educational-info {
    @include dFlex(column, space-between, none);
    width: 100%;
    background-color: $background-color-3;
}

.qualification-header {
    @include dFlex(row, space-between, center);
    color: $text-color-1;
    background-color: $background-color-8;
    padding: 0 20px;
}

.qualification-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.qualification-body {
    @include dFlex(column, space-between, none);
    background-color: $background-color-3;
    padding: 20px;
    gap: 40px;
}

.qualification-body-element {
    width: 25%;
}

.qualification-body-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


// ------------------------------------------------------------

.professional-info {
    @include dFlex(column, none, none);
}

.professional-status {
    @include dFlex(column, space-between, none);
    background-color: $background-color-3;
    padding: 20px;
    gap: 20px;
}

.professional-body {
    margin-top: 10px;
}

.technology-group, .notice-container, .notice-radio-container, .applied-earlier-container {
    @include dFlex(column, none, none);
    gap: 15px;
}

.notice-duration-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}