<div class="content">
    <div class="content-personal">
        <div class="content-header">
            <h2 class="content-title">Personal Information</h2>
            <p><span><img src="../../../../../assets/icons/edit.svg" alt="" /></span>Edit</p>
        </div>
        <div class="content-body personal-info-container">
            <div class="personal-form">
                <div class="group-text">
                    <label class="main-label">First Name*</label>
                    <p>John</p>
                </div>
                <div class="group-text">
                    <label class="main-label">Last Name*</label>
                    <p>Watson</p>
                </div>
                <div class="group-text">
                    <label class="main-label">Email*</label>
                    <p>Johnwatson&#64;example.com</p>
                </div>
                <div class="group-text">
                    <label class="main-label">Phone Number*</label>
                    <p>9876543210</p>
                </div>
                <div class="file-group">
                    <img src="../../../../../assets/icons/Upload_black_24dp.svg" alt="">
                    <p>Upload Resume</p>
                    <p>MyResume.pdf</p>
                </div>
                <div class="group-text">
                    <label class="main-label">Enter Portfolio URL (if any)</label>
                    <p>www.myportfolio.in</p>
                </div>
                <div class="group-checkbox">
                    <label class="main-label">Preferred Job Roles*</label>
                    <p>Instructional Designer</p>
                    <p>Software Quality Engineer</p>
                </div>
                <div class="group-text">
                    <label class="main-label">
                        If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You
                    </label>
                    <p>-</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="emailSub" name="emailSub" value="IsEmailSub" checked>
                    <label for="emailSub">Send me job related updates via mail</label>
                </div>
            </div>
            <div class="profile-picture">
                <img src="../../../../../assets/images/user-profile.png" alt="">
            </div>
        </div>
    </div>
    <div class="content-qualification">
        <div class="content-header">
            <h2 class="content-title">Qualifications</h2>
            <p><span><img src="../../../../../assets/icons/edit.svg" alt="" /></span>Edit</p>
        </div>
        <div class="content-body qualification-info-container">
            <div class="educational-info">
                <div class="qualification-header">
                    <h2 class="qualification-title">Educational Qualifications</h2>
                </div>
                <div class="qualification-body">
                    <div class="group-text qualification-body-element">
                        <label class="main-label">Aggregate Percentage*</label>
                        <p>65</p>
                    </div>
                    <div class="group-text qualification-body-element">
                        <label class="main-label">Year of Passing*</label>
                        <p>2020</p>
                    </div>
                    <div class="qualification-body-group">
                        <div class="group-text">
                            <label class="main-label">Qualification*</label>
                            <p>Bachelor in Technology (B.Tech)</p>
                        </div>
                        <div class="group-text">
                            <label class="main-label">Stream*</label>
                            <p>Information Technology</p>
                        </div>
                        <div class="group-text">
                            <label class="main-label">College*</label>
                            <p>Pune Institute of Technology (PIT)</p>
                        </div>
                        <div class="group-text">
                            <label class="main-label">If others, please enter your college
                                name</label>
                            <p>-</p>
                        </div>
                    </div>
                    <div class="group-text qualification-body-element">
                        <label class="main-label">Where is your college located?*</label>
                        <p>Pune</p>
                    </div>
                </div>
            </div>
            <div class="professional-info">
                <div class="qualification-header">
                    <h2 class="qualification-title">Professional Qualifications</h2>
                </div>
                <div class="professional-status">
                    <label class="main-label">Applicant type*</label>
                    <p>Experienced</p>
                </div>
                <div class="qualification-body professional-body">
                    <div class="group-text experienced-field">
                        <label class="main-label">Years of Experience*</label>
                        <p>5</p>
                    </div>

                    <div class="group-text experienced-field">
                        <label class="main-label">Current CTC* (In Rupees)</label>
                        <p>5,00,000</p>
                    </div>

                    <div class="group-text experienced-field">
                        <label class="main-label">Expected CTC* (In Rupees)</label>
                        <p>6,50,000</p>
                    </div>

                    <div class="technology-group experienced-field">
                        <div class="group-checkbox">
                            <label class="main-label">Select All The Technologies You Expertise In*</label>
                            <p>Javascript</p>
                        </div>
                        <div class="group-text">
                            <label class="main-label">If others, please mention</label>
                            <p>-</p>
                        </div>
                    </div>

                    <div class="technology-group">
                        <div class="group-checkbox">
                            <label class="main-label">Select All The Technologies You Are Familiar In</label>
                            <p>Angular JS</p>
                            <p>React</p>
                        </div>
                        <div class="group-text">
                            <label class="main-label">If others, please mention</label>
                            <p>-</p>
                        </div>
                    </div>

                    <div class="notice-container experienced-field">
                        <div class="notice-radio-container">
                            <label class="main-label">Are you currently on notice period?*</label>
                            <p>Yes</p>
                        </div>
                        <div class="notice-duration-container">
                            <div class="input-group-date">
                                <label class="main-label">If Yes, when will your notice period end?*</label>
                                <p>20-May-2020</p>
                            </div>
                            <div class="input-group-dropdown">
                                <label class="main-label">How long is your notice period? (Mention in months)</label>
                                <p>2 Months</p>
                            </div>
                        </div>
                    </div>

                    <div class="applied-earlier-container">
                        <label class="main-label">Have You Appeared For Any Test By Zeus in the past 12 months?*</label>
                        <p>No</p>

                        <div class="group-text">
                            <label class="main-label" for="appliedEarlierRole*">If Yes, which role did you apply
                                for?</label>
                            <p>-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>