<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <img src="icons/back.svg" alt="">
                <h2>Log in</h2>
            </div>
            <div class="card-body">
                <form id="login-form">
                    <div class="input-group-text">
                        <input type="email" placeholder="Email ID*">
                        <p>Forgot Email Id?</p>
                    </div>
                    <div class="input-group-text">
                        <div class="password">
                            <input type="password" placeholder="Password*">
                            <img src="icons/preview.svg" alt="">
                        </div>
                        <p>Forgot Password?</p>
                    </div>
                    <div class="input-group-remember">
                        <input type="checkbox" id="rememberMe" name="rememberMe" value="lsRememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </div>
                    <div class="input-group-submit">
                        <button class="font-medium-600" type="submit">LOG IN</button>
                    </div>
                </form>
                <p>Not registerd yet?</p>
                <a routerLink="/register">Create an account</a>
            </div>
        </div>
    </div>
    <div class="bottom-navbar">
        <button>About</button>
        <div class="divider"></div>
        <button>Contact Us</button>
    </div>
</div>