<div class="content">
    <div class="card">
        <div class="card-header">
            <img src="icons/back.svg" alt="">
            <h2>Log in with Quantum</h2>
        </div>
        <div class="card-body">
            <form id="login-form">
                <div class="input-group-text">
                    <input type="text" placeholder="Username/Email ID*">
                    <p>Forgot Username?</p>
                </div>
                <div class="input-group-text">
                    <div class="password">
                        <input type="password" placeholder="Password*">
                        <img src="icons/preview.svg" alt="">
                    </div>
                    <p>Forgot Password?</p>
                </div>
                <div class="input-group-remember">
                    <input type="checkbox" id="rememberMe" name="rememberMe" value="lsRememberMe">
                    <label for="rememberMe">Remember Me</label>
                </div>
                <div class="input-group-submit">
                    <button class="font-medium-600" type="submit">LOG IN</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottom-navbar">
    <button class="font-medium-600">About</button>
    <div class="divider"></div>
    <button class="font-medium-600">Contact Us</button>
</div>