@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

:host {
    display: flex;
    height: 100%;
}

h2, p {
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    background-color: $color-2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.horizontal-line {
    margin: 0;
    margin-bottom: 16px;
}

.content > span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    padding: 2px 8px;
    position: absolute;
    top: -9px;
    right: 24px;
    border-radius: 2px;
    color: $color-17;
    background-color: $color-11;
}

.content > h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: $color-5;
    margin-bottom: 16px;
}

.content > p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: $color-15;
    margin-bottom: 8px;
}

.content > button {
    padding: 5px 16px;
    align-self: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-13;
    background-color: $color-7;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 3px 5px #0000003D;
}

.date-location-container {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: $color-4;
    @include dFlex(row, none, center);
    gap: 16px;
    margin-bottom: 16px;
}

.location-container {
    font-size: 12px;
    color: $color-15;
    @include dFlex(row, none, flex-end);
    gap: 2px;
    img {
        width: 16px;
        height: 16px;
        filter: invert(41%) sepia(1%) saturate(2610%) hue-rotate(326deg) brightness(94%) contrast(86%);
    }
}

.job-role-container {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    @include dFlex(row, none, center);
    gap: 16px;
    margin-bottom: 16px;
}

.job-role {
    @include dFlex(row, none, center);
    gap: 8px;
    span {
        width: 24px;
        height: 24px;
        border: 1px solid $color-20;
        border-radius: 50%;
        position: relative;
        img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            position: absolute;
            top: 4px;
            left: 4px;
        }
    }
}

.content > p.additional-info {
    width: max-content;
    padding: 3px 8px 2px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: 600;
    color: $color-4;
    background-color: $color-21;
}

@media (max-width: 430px){
    .job-role-container {
        @include dFlex(column, none, start);
    }
    .divider.lg {
        display: none;
    }
}