<div class="content">
    <span *ngIf="expiryDays <= 5 && expiryDays > 0">Expires in {{ expiryDays }} days</span>
    <h2>{{ walkInApplication.title }}</h2>
    <p>Date & Time :</p>
    <div class="date-location-container">
        <p>{{ walkInApplication.start_date }} to {{ walkInApplication.end_date }}</p>
        <div class="divider"></div>
        <div class="location-container">
            <img src="./assets/icons/location_on_black_24dp.svg" alt="">
            <p>{{ walkInApplication.location }}</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <p>Job Roles :</p>
    <div class="job-role-container">
        <div *ngFor="let jobRole of jobRoles"  class="job-role">
            <span>
                <img src="./assets/icons/Instructional Designer.svg" alt="">
            </span>
            <p>{{ jobRole.title }}</p>
        </div>
    </div>
    <p class="additional-info" *ngIf="walkInApplication.additional_info" >{{ walkInApplication.additional_info }}</p>
    <button [routerLink]="['/walk-in-details', walkInApplication.id]">View More Details</button>
</div>