@import './assets/styles/variables';

@font-face {
    font-family: 'QuickSand';
    src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'QuickSand', sans-serif;
}

.divider {
    height: 20px;
    border-left: 1px solid $text-color-6;
}