// Colors
$color-1: #1F2834;
$color-2: #FFFFFF;
$color-3: #757575;
$color-4: #222222;
$color-5: #1F7A54;
$color-6: #EEEEEE;
$color-7: #3FD28B;
$color-8: #E0E1E1;
$color-9: #3C4E62;
$color-10: #DBEFFF;
$color-11: #FFE4E6;
$color-12: #18BE2E;
$color-13: #25313F;
$color-14: #333333;
$color-15: #666666;
$color-16: #616161;
$color-17: #D10107;
$color-18: #3AC7EC;
$color-19: #CCCCCC;
$color-20: black;
$color-21: #EEDD6B;
$color-22: #97F5C7;
$color-23: #08B11F;