// Background Colors
$background-color-1: #1F2834;
$background-color-2: #EEE;
$background-color-3: #FFF;
$background-color-4: #3FD28B;
$background-color-5: #E0E1E1;
$background-color-6: #3C4E62;
$background-color-7: #757575;
$background-color-8: #DBEFFF;
$background-color-9: #FFE4E6;
$background-color-10: #18BE2E;

// Text Colors
$text-color-1: #222;
$text-color-2: #333;
$text-color-3: #666;
$text-color-4: #1F7A54;
$text-color-5: #1F2834;
$text-color-6: #616161;
$text-color-7: #FFF;
$text-color-8: #757575;
$text-color-9: #D10107;
$text-color-10: #25313F;

// Accent Colors
$accent-color-1: #1F7A54;
$accent-color-2: #222;

// Border Colors
$border-color-1: #3AC7EC;
$border-color-2: #CCC;
$border-color-3: black;