<div class="content">
    <div class="accordian-header">
        <h2>Instructional Designer</h2>
        <span>
            <img src="./assets/icons/expand_less_black_24dp.svg" alt="">
        </span>
    </div>
    <div class="accordian-body">
        <div class="gross-compensation-package">
            <h4 class="accordian-body-element-title">gross compensation package :</h4>
            <p class="accordian-body-element-body">Rs. 5,00,000 lpa</p>
        </div>
        <div class="horizontal-line"></div>
        <accordian-body-element></accordian-body-element>
        <div class="horizontal-line"></div>
        <accordian-body-element></accordian-body-element>
    </div>
</div>