<div class="content">
    <div class="status">
        <div class="status__icon active">
            <span>1</span>
            <img src="./assets/icons/edit.svg" alt="">
        </div>
        <div class="status__text">
            <p>Personal Information</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="status">
        <div class="status__icon">
            <span>2</span>
            <img src="./assets/icons/edit.svg" alt="">
        </div>
        <div class="status__text">
            <p>Qualifications</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="status">
        <div class="status__icon">
            <span>3</span>
        </div>
        <div class="status__text">
            <p>Review and Proceed</p>
        </div>
    </div>
</div>