@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

:host {
    display: flex;
    height: 100%;
}

.content {
    flex: 1;
    background-color: $color-6;
    display: flex;
    flex-direction: column;
}

.error, .success {
    font-size: small;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    width: 40%;
    position: fixed;
    top: 10%;
    z-index: 1;
    left: 30%;
}

.error {
    color: $color-17;
    background-color: $color-11;
}

.success {
    color: $color-23;
    background-color: $color-22;
}